#DATABASE 
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=quick-stay-db

NODE_ENV=development
SECRET_KEY=f7c6d036475d6142cc98d04495ee978793569667ce514690bd6d9b13

#AWS 
AWS_REGION=your-aws-region
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_S3_BUCKET=your-aws-s3-bucket
AWS_S3_PUBLIC_URL=your-aws-s3-public-url